
:root {

    /* Primary */
    --pr-soft-red: hsl(7, 99%, 70%);
    --pr-yellow: hsl(51, 100%, 49%);
    --pr-dark-cyan-graphic: hsl(167, 40%, 24%);
    --pr-dark-blue-photography: hsl(198, 62%, 26%);
    --pr-dark-cyan-footer: hsl(168, 34%, 41%);
    --pr-footer-background: hsl(167, 44%, 70%);

    /* Neutral */
    --ne-vd-desaturated-blue: hsl(212, 27%, 19%);
    --ne-vd-grayish-blue: hsl(213, 9%, 39%);
    --ne-d-grayish-blue: hsl(232, 10%, 55%);
    --ne-grayish-blue: hsl(210, 4%, 67%);
    --white: hsl(0, 0%, 100%);
    --ne-header-bg-color: hsl(200, 99%, 62%);
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html, body {
    height: 100vh;
    background-color: var(--l-grayish-blue);
    scroll-behavior: smooth;
}

body {
    line-height: 1.5;
}

main {
    padding: 0;
    background-color: var(--ne-header-bg-color);
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}


p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#root, #__next {
    isolation: isolate;
}

.loader__control-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: hsl(26, 100%, 99%);
}


.loader-container {
    text-align: center;
}

.loader-container-spins {
    position: relative;
    width: 100px;
    height: 100px;
    padding: 0px;
}


.loader-container .spin-loader {
    position: absolute;
    top: 0;
    display: block;
    width: 100px;
    height: 100px;
    padding: 10px;
    border: 3px solid var(--pr-soft-red);
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-radius: 50%;
    -webkit-animation: spinner 1s linear infinite;
    animation: spinner 1s linear infinite;
}

.loader-container .spin-loader-2 {
    position: absolute;
    top: 10px;
    left: 10px;
    display: block;
    width: 80px;
    height: 80px;
    padding: 10px;
    border: 3px solid var(--pr-dark-cyan-graphic);
    border-left-color: transparent;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: spinner2 1s linear infinite;
    animation: spinner2 1s linear infinite;
}

.loading-text {
    color: var(--pr-dark-blue-photography);
}

@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes spinner2 {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(-360deg);
    }
}
@keyframes spinner2 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}


.attribution {
    padding: 0.5rem;
    color: var(--pr-dark-cyan-footer);
    -webkit-animation: fade-in 1.5s ease-in;
    animation: fade-in 1.5s ease-in;
}

.attribution a {
    color: var(--pr-dark-cyan-footer);
    -webkit-transition: .4s color;
            transition: .4s color;

}

.attribution a:hover,
.attribution a:active,
.attribution a:visited {
    color: var(--pr-dark-cyan-graphic) !important;
}

.link__learn-more {
    position: relative;
    color: var(--ne-vd-desaturated-blue);
    z-index: 2;
}

.link__learn-more::after {
    position: absolute;
    display: block;
    content: "";
    bottom: -1px;
    left: -10px;
    width: 150px;
    height: 10px;
    border-radius: var(--radius-10);
    opacity: 0.3;
    z-index: -1;
    -webkit-transition: opacity .4s;
    transition: opacity .4s;
}

.link__learn-more:hover::after,
.link__learn-more:focus::after {
    opacity: 1;
}

.link--brand::after {
    background-color: var(--pr-yellow);
}

.link--audience::after {
    background-color: var(--pr-soft-red);
}



.header {
    width: 100%;
    padding: 2rem;
    position: fixed;
    background-color: var(--ne-header-bg-color);
    z-index: 100;
    -webkit-transition: .4s padding linear;
            transition: .4s padding linear;

}

.header-scroll {
    padding: 0.1rem 2rem;
}

.logo__img-container {
    display: flex;
    align-items: center;
}


.logo__img img {
    width: 180px;
    height: auto;
}

.btn__menu {
    display: none;
}

.nav {
    display: flex;
    justify-content: flex-end;
}

.nav__list {
    display: flex;
    align-items: center;
}

.nav__list li {
    list-style: none;
    margin: 0 2rem;
}

.nav__list li:last-child {
    margin: 0 0 0 2rem;
}

.nav__link {
    color: var(--white);
}

.nav__link:hover {
    text-decoration: underline 3px;
}

.btn__contact {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 60px;
    border-radius: 30px;
    background-color: var(--white);
    color: var(--ne-vd-desaturated-blue);
    -webkit-user-select: none;
    user-select: none;
    -webkit-transition: 400ms color, 400ms background-color;
    transition: 400ms color, 400ms background-color;
}

.btn__contact:hover {
    color: var(--white);
    background-color: hsla(0, 0%, 100%, 0.274);
}

.hero__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: var(--ne-header-bg-color);
    background-image: url('../images/desktop/image-header.avif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    -webkit-user-select: none;
    user-select: none;
}


.hero__heading {
    margin-top: 22vh;
    margin-bottom: 4.5rem;
    color: var(--white);
}

.hero__arrow-icon {
    height: 130px;
    animation: bounce 2s infinite;
}


@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-30px);
    }

    60% {
        transform: translateY(-15px);
    }
}

.brand__img,
.audience__img {
    width: auto;
    height: 650px;
}

.brand__content-container,
.audience__content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
}

.brand__heading,
.audience__heading {
    margin-bottom: 2rem;
    color: var(--ne-vd-desaturated-blue);
}

.brand__info,
.audience__info {
    margin-bottom: 2rem;
    color: var(--ne-d-grayish-blue);
}

.brand__img-container {
    display: flex;
    justify-content: center;
    background-color: var(--pr-yellow);
}

.audience__img-container {
    display: flex;
    justify-content: center;
    background-color: var(--pr-soft-red);
}

.container--graphic {
    color: var(--pr-dark-cyan-graphic);
    background-image: url('../images/desktop/image-graphic-design.webp');
}

.container--photography {
    color: var(--pr-dark-blue-photography);
    background-image: url('../images/desktop/image-photography.webp');
}

.services__info-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 650px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    text-align: center;
}

.services__heading {
    margin-bottom: 1rem;
}

.client__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 780px;
    background-color: var(--white);
}


.client__container-header span {
    display: block;
    padding-bottom: 3.5rem;
    color: var(--ne-grayish-blue);
}

.card__client-img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 3.5rem;
}

.card__client-img img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.card__client-message {
    padding: 1rem;
    padding-bottom: 3.5rem;
    color: var(--ne-vd-grayish-blue);
}

.card__client-info span {
    display: block;
    padding-bottom: .5rem;
    text-align: center;
}

.card__client-info span:last-child {
    color: var(--ne-grayish-blue);
}


.img__gallery-container {
   overflow: hidden;
}

.img__gallery-container img {
    width: 100%;
    height: auto;
    -webkit-transition: .5s;
            transition: .5s;
}

.img__gallery-container img:hover {
    -webkit-transform: scale(1.1);
   transform: scale(1.1);
}


footer {
    width: 100%;
    height: 350px;
    background-color: var(--pr-footer-background);
}

footer .container-fluid {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    height: 100%;
    padding-top: 4%;
}

.footer__img-container {
    display: flex;
    justify-content: center;
}

.footer__img {
    width: 180px;
    height: auto;
    fill: var(--pr-dark-cyan-graphic) !important;
}

.footer__nav-container {
    display: flex;
    justify-content: center;
    align-content: space-between;
    padding-top: 2rem !important;
}

.nav__footer ul {
    display: flex;
    padding: 0;
}

.nav__footer .nav__footer-item {
    list-style: none;
    padding: 0 1.8rem;
}

.nav__footer .nav__footer-link {
    color: var(--pr-dark-cyan-footer);
    -webkit-transition: .4s;
            transition: .4s;
}

.nav__footer .nav__footer-link:hover {
    color: var(--white);
}

.footer__social-links {
    display: flex;
    justify-content: center;
}

.footer__social-links a {
    padding: 0 0.8rem;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}



@media only screen and (max-width: 991px) {
    .header {
        width: 100%;
        padding: 1rem;
    }

    .header .container-fluid {
        position: relative;
    }

    .btn__menu {
        display: block;
        float: right;
        padding: 0;
        border: 1px solid var(--ne-header-bg-color);
        background-color: transparent;
        cursor: pointer;
    }

    .nav__container {
        position: absolute;
        top: 210%;
        left: 3.5%;
        display: none;
        width: 93%;
        height: auto;
        background-color: var(--white);
        box-shadow: 2px 2px 15px hsla(210, 9%, 39%, 0.212);
    }

    .nav__container::before {
        position: absolute;
        top: -33px;
        right: 0;
        display: block;
        content: "";
        width: 30px;
        height: 35px;
        background-color: var(--white);
        clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    }

    .nav--display {
        display: block;
        -webkit-animation: fade-in 0.3s ease-in;
        animation: fade-in 0.3s ease-in;
    }

    .nav {
        display: flex;
        justify-content: center;
        padding: 2.5rem;
    }
    
    .nav__list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    
    .nav__list li {
        list-style: none;
        margin: 0;
        padding-bottom: 2rem;
    }
    
    .nav__list li:last-child {
        margin: 0;
        padding-bottom: 0.5rem;
    }
    
    .nav__link {
        color: var(--ne-d-grayish-blue);
    }
    
    .nav__link:hover,
    .nav__link:focus,
    .nav__link:visited {
        color: var(--ne-vd-desaturated-blue);
    }

    .btn__contact {
        background-color: var(--pr-yellow) !important;
        color: var(--ne-vd-desaturated-blue);
    }
    
    .btn__contact:hover,
    .btn__contact:focus,
    .btn__contact:visited {
        color: var(--white);
    }

    .header-scroll {
        padding: 1rem 1rem;
    }

    .client__container {
        width: 100%;
        height: auto;
    }

    footer .container-fluid {
        padding: 10% 10% 2% 10%;
    }
}

@media only screen and (max-width: 677px) {

    .attribution {
        padding: 0.5rem 0rem;
    }

    .m--order-1 {
        order: 1;
    }

    .m--order-2 {
        order: 2;
    }

    .hero__section {
        background-image: url('../images/mobile/image-header.avif');
    }

    .hero__heading {
        margin-top: 30vh;
        font-size: 2.3rem;
    }

    .brand__content-container,
    .audience__content-container {
        text-align: center;
    }

    .brand__img,
    .audience__img {
        width: 100%;
        height: auto;
    }

    .container--graphic {
        background-image: url('../images/mobile/image-graphic-design.webp');
    }
    
    .container--photography {
        background-image: url('../images/mobile/image-photography.webp');
    }

    .services__info {
        font-size: 1rem;
    }

    footer .container-fluid {
        padding: 15% 10%;
    }

}